server:
  port: 8080

spring:
  datasource:
    username: root
    password: sjh123456
    url: jdbc:mysql://localhost:3306/novelnook?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver


#4.26测试登录界面用部分，正式发布时请改动
    thymeleaf:
      cache: false
      prefix: classpath:/templates/
      suffix: .html
      encoding: UTF-8
      content-type: text/html
      mode: HTML5
    check-template-location: true
#到这里为止

mybatis:
  mapper-locations: classpath*:mapper/*.xml
